@use '../utils/variables' as *;

.working-zone {
  max-width: $maxWidthWork;
  margin: 0 auto;
  padding: 0 5px;
}

.invisible {
  overflow: hidden;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  clip-path: insert(0px, 99.9%, 99.9%);
  font-size: 0px;
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}
