$maxWidthWork: 1440px;

$fallbackBackgroundColor: #000000;

$systemMsg: rgba(229, 255, 0, 0.931);

$okButtonGradient: linear-gradient(#e66465, #9198e5);

$cancelButtonGradient: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255));

$cancelButtonAvatarGradient: linear-gradient(30deg, rgb(0, 0, 0), rgb(255, 255, 255));

$headerGradient: linear-gradient(#f701ff49, rgba(255, 255, 255, 0.74), rgba(35, 0, 231, 0.198));

$avatarUploadButtonGradient: linear-gradient(#4cec8a, #9198e5);

$linkActiveColor: rgb(92, 123, 184);

$logoutHoverGradient: linear-gradient(45deg, rgb(255, 255, 255), rgb(0, 0, 0));

$stopButtonGradient: linear-gradient(45deg, #e66465, #9198e5);

$goButtonGradient: linear-gradient(25deg, #4cec8a, #9198e5);

$goButtonBorder: greenyellow;

$systemButtonGradient: linear-gradient(45deg, #696180, #7b15da);

$tableBackground: rgba(54, 54, 54, 0.493);

$systemButtonBorder: rgb(50, 13, 151);

$shadowColor: #00000061;

$tableHeaderColor: #82dd3d;
